<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.williamf6894.plandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Plan App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenPlanActivity"
            android:parentActivityName="com.williamf6894.plandroid.MainActivity"
            android:label="Edit Plan"
            >

        </activity>
        <activity
            android:name=".NewPlanActivity"
            android:parentActivityName="com.williamf6894.plandroid.MainActivity"
            android:label="Create Plan"
            >

        </activity>
    </application>

</manifest>